<div class="form-check">
    {% for option_value, option_label in widget.options %}
        <input type="radio" class="form-check-input" name="{{ widget.name }}" value="{{ option_value }}" id="{{ widget.attrs.id }}_{{ forloop.counter }}" {% if option_value == widget.value %}checked{% endif %}>
        <label class="form-check-label" for="{{ widget.attrs.id }}_{{ forloop.counter }}">{{ option_label }}</label>
    {% endfor %}
</div>
