{% load static %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

<select multiple="multiple" id="id_my_field" name="Tag[]">
    <option value=""></option>
    {% for key, value in widget.choices %}
        <option value="{{ key }}">{{ value }}</option>
    {% endfor %}
</select>

<script type="text/javascript">
    $(document).ready(function() {
        $('#{{ widget.attrs.id }}').select2();
        $('#{{ widget.attrs.id }}').on('select2:opening select2:closing', function(event) {
            var $searchfield = $(this).parent().find('.select2-search__field');
            $searchfield.prop('disabled', true);
        });
    });
</script>