{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Montserrat:300');
body{
  background: #3498DB;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
h1{
  font-size: 20vh;
}
h2 span{
  font-size: 4rem;
  font-weight: 600;
}
a:link, a:visited{
  text-decoration: none;
  color: #fff;
}
h3 a:hover{
  text-decoration: none;
  background: #fff;
  color: #3498DB;
  cursor: pointer;
}
    </style>
    <title>404 Error</title>
</head>
<body>

<div class="container">
<h1>:(</h1><br>
<h2>A <span>500</span> error occured, check the URL and try again.</h2><br><br>
  <h3><a href="{% url 'home' %}">Return to home</a>&nbsp;|&nbsp;<a href="javascript:history.back()">Go Back</a></h3>
</div>

</body>
{% endblock %}