 {% extends 'base.html' %}
{% load static %}


{% block content %}
    <style>
    .container h6, .container i {
        display: inline;
        margin-right: 10px;
    }
    </style>
    <main>
<div class="main-wrapper ">
  <section class="page-title bg-1">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block text-center">
            <span class="text-white">Our blog</span>
            <h1 class="text-capitalize mb-4 text-lg">Blog articles</h1>
            <ul class="list-inline">
              <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
              <li class="list-inline-item"><span class="text-white">/</span></li>
              <li class="list-inline-item"><a href="#" class="text-white-50">Our blog</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

    <!-- End Blog Section -->
    <section class="section blog-wrap bg-gray">
        <div class="container">
        <i class="far fa-newspaper"></i><h6>BLOGS</h6><hr>
        </div>
    <br>

      <div class="container">
          <div class="row">
              {% for article in articles %}
    <div class="col-lg-6 col-md-6 mb-5">
        <div class="blog-item">
          <a href="{{ article.get_absolute_url }}"><img src="{{article.cover_image.url}}" alt=""  class="img-fluid rounded"></a>
  
        <div class="blog-item-content bg-white p-5">
          <div class="blog-item-meta bg-gray py-1 px-2">
            <span class="text-muted text-capitalize mr-3"><i class="ti-pencil-alt mr-2"></i>{{ article.category }}</span>
            <span class="text-muted text-capitalize mr-3"><i class="ti-comment mr-2"></i>5 Comments</span>
            <span class="text-black text-capitalize mr-3"><i class="ti-time mr-1"></i> 28th January</span>
          </div> 
  
          <h3 class="mt-3 mb-3">
              <a href="{{ article.get_absolute_url }}">{{ article.get_short_head_line }}...</a>
          </h3>
          <p class="mb-4">{{ article.get_short_description }}...</p>
  
          <a href="{{ article.get_absolute_url }}" class="btn btn-small btn-main btn-round-full">Read More</a>
        </div>
      </div>
    </div>
              {% endfor %}

  </div>
  
          <div class="row justify-content-center mt-5">
              <div class="col-lg-6 text-center">
                <nav class="navigation pagination d-inline-block">
                    <div class="nav-links">
                        {% if articles.has_previous %}
                            <a class="prev page-numbers" href="?page={{ articles.previous_page_number }}">Prev</a>
                        {% else %}
                            <a class="prev page-numbers disabled" href="">Prev</a>
                        {% endif %}

                        {% for page_num in articles.paginator.page_range %}
                            {% if page_num == articles.number %}
                                <span aria-current="page" class="page-numbers current">{{ articles.number }}</span>
                            {% else %}
                                <a class="page-numbers" href="?page={{ page_num }}">{{ page_num }}</a>
                            {% endif %}
                        {% endfor %}

                        {% if articles.has_next %}
                            <a class="next page-numbers" href="?page={{ articles.next_page_number }}">Next</a>
                        {% else %}
                            <a class="next page-numbers disabled" href="">Next</a>
                        {% endif %}
                    </div>
                </nav>
              </div>
          </div>
      </div>
  </section>
  </div>
    </main><!-- End #main -->

{% endblock %}
