{% load static %}
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>Total Care Srcurity</title>
        <meta content="" name="description">
        <meta
        content="" name="keywords">

        <!-- Favicons -->
        <link href="{% static 'assets/img/tcsLogo-1.png' %}" rel="icon">
        <link
        href="{% static 'assets/img/tcsLogo-1.png' %}" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="{% static 'assets/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
        <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
        <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
        <link
        href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
        
        <!-- Template Main CSS File -->
        <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
        <link href="{% static "assets/css/bootstrap-taginput.css" %}" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <script src="{% static 'assets/js/tags.js' %}"></script>

    </head>
    <style>
        /* Add this CSS to your stylesheet or in a <style> tag in your HTML file */
        .col-form-label {
            color: #fff;
        }
        .asw {
            border-radius: 19px;
        }
        .form-group {
            margin-bottom: 1rem;
        }

        .col-form-label {
            font-weight: bold;
        }

        .form-control {
            width: 100%;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }

        .btn-primary {
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
        }

        /* Custom CSS to set specific dimensions for the button */
        .btn-sm {
            padding: 0.25rem 0.5rem; /* You can adjust the padding to your preference */
            font-size: 0.875rem; /* You can adjust the font size to your preference */
            left: auto;
        }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }

        .btn-block {
            display: block;
            width: 100%;
        }

        .subscribe {

            padding: 0.75rem 1.25rem;
            font-size: 1rem;
            border-radius: 0.4rem;
            right: 100px;
        }

        .subscribe.shadow-sm {
            box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
        }

        /* Adjust any other styles as per your design preferences */
    </style>
    <body>

        <!-- ======= Header ======= -->
        <header id="header" class="fixed-top d-flex align-items-center header-transparent">
            <div class="container-fluid">

                <div class="row justify-content-center align-items-center">
                    <div class="col-xl-11 d-flex align-items-center justify-content-between">
                        <a href="index.html" class="logo"><img src="{% static 'assets/img/tcsLogo-1.png' %}" alt="" class="img-fluid"></a>

                        <nav id="navbar" class="navbar">
                            <ul>
                                <li>
                                    <a class="nav-link scrollto active" href="#hero">Home</a>
                                </li>
                                <li>
                                    <a class="nav-link scrollto" href="#about">About</a>
                                </li>
                                <li>
                                    <a class="nav-link scrollto" href="#services">Services</a>
                                </li>
                                <li>
                                    <a class="nav-link scrollto " href="#portfolio">Portfolio</a>
                                </li>
                                <li>
                                    <a class="nav-link scrollto" href="#team">Team</a>
                                </li>
                                <li>
                                    <a class="nav-link  " href="blog.html">Blog</a>
                                </li>

                                <li>
                                    <a class="nav-link scrollto" href="#contact">Contact</a>
                                </li>
                            </ul>
                            <i class="bi bi-list mobile-nav-toggle"></i>
                        </nav>
                        <!-- .navbar -->
                    </div>
                </div>

            </div>
        </header>
        <!-- End Header -->


        <main
            id="main">


            <!-- ======= Facts Section ======= -->
            <section id="facts">
                <br>
                <div class="container">

                    <header class="section-header">
                        <h3>ADD ARTICLE</h3>

                    </header>


                    <!-------------form----------------------------->


                    <!-- For demo purpose -->

                    <!-- End -->


                        <div class="row"> <div class="col-lg-13 mx-auto">
                            <div class="bg-dark rounded-lg shadow-sm p-5 asw">
                                <!-- Credit card form tabs -->

                                <!-- End -->


                                <!-- Credit card form content -->
                                    <div
                                    class="tab-content"> <!-- credit card info-->
                                    <div id="nav-tab-card" class="tab-pane fade show active">

                                        <form role="form"  method="POST" enctype="multipart/form-data">

                                            {% csrf_token %}
                                                
                                            <div class="form-group row">
                                                <label for="inputPassword" class="col-sm-2 col-form-label">Title *</label>
                                                <div class="col-sm-10">
                                                    {{form.title }}
                                                </div>
                                            </div>
                                            <br>
                                         
                                            <div class="form-group row">
                                                <label for="inputPassword" class="col-sm-2 col-form-label">Category</label>
                                                <div class="col-sm-10">
                                                    {{ form.category }}
                                                     {% comment %} <input type="text" class="form-control" id="inputPassword" placeholder="Category">  {% endcomment %}
                                                    <div class="col-md-6 mt-2">
                                                        <button type="button" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#addCategory">Category</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="form-group row">
                                                <label for="inputPassword" class="col-sm-2 col-form-label">Tag</label>
                                                <div class="col-sm-10">
                                                    {{ form.tags }} 
                                                     {% comment %} <input type="password" class="form-control" id="inputPassword" placeholder="Tag"> {% endcomment %}
                                                    <div class="col-md-6 mt-2">
                                                        <button type="button" class="btn btn-sm btn-warning tags" data-toggle="modal" data-target="#addTag">Add tags</button>
                                                    </div>
                                                </div>
                                               
                                            </div>
                                            <br>
                                            <div class="form-group row">
                                                <label for="inputPassword" class="col-sm-2 col-form-label">Cover image *</label>
                                                <div class="col-sm-10">
                                                    {{ form.cover_image }}
                                                </div>
                                            </div>
                                            <br>
                                            <div class="form-group row">
                                                <label for="inputPassword" class="col-sm-2 col-form-label">Short description</label>
                                                <div class="col-sm-10">
                                                    {{ form.short_description }}
                                                </div>
                                            </div>
                                            <br>
                                            <div class="form-group row">
                                                <label for="inputPassword" class="col-sm-2 col-form-label">description</label>
                                                <div class="col-sm-10">
                                                    {{ form.media }}
                                                    {{ form.description }}
                                                </div>
                                            </div>
                                            <br>
                                            <div class="form-group row">
                                                <label for="inputPassword" class="col-sm-2 col-form-label"></label>
                                                <div class="col-sm-10">
                                                     <button type="submit" class="subscribe btn btn-primary btn-lg rounded shadow-sm" value="submit">Submit</button>
                                                </div>
                                            </div>


                                            <br>
                                        </form>
                                    </div>
                                    <!-- End -->

                                    <!-- Paypal info -->

                                    <br><br>

                                </section>

                            </main>
                            <!-- End #main -->

                            <!-- ======= Footer ======= -->
                            <footer id="footer">
                                <div class="footer-top">
                                    <div class="container">
                                        <div class="row">

                                            <div class="col-lg-3 col-md-6 footer-info">
                                                <h3>Total Care Security
                                                    <p>Total Care Security Thiruvananthapuram is one of the leading businesses in the security services. At Total Care Security, we understand that your safety is our top priority. That's why we offer a wide range of security services to keep you and your property safe. Our team of experienced security professionals will work with you to create a custom security plan that meets your specific needs.</p>
                                                </div>

                                                <div class="col-lg-3 col-md-6 footer-links">
                                                    <h4>Useful Links</h4>
                                                    <ul>
                                                        <li>
                                                            <i class="bi bi-chevron-right"></i>
                                                            <a href="#">Home</a>
                                                        </li>
                                                        <li>
                                                            <i class="bi bi-chevron-right"></i>
                                                            <a href="#">About us</a>
                                                        </li>
                                                        <li>
                                                            <i class="bi bi-chevron-right"></i>
                                                            <a href="#">Services</a>
                                                        </li>
                                                        <li>
                                                            <i class="bi bi-chevron-right"></i>
                                                            <a href="#">Terms of service</a>
                                                        </li>
                                                        <li>
                                                            <i class="bi bi-chevron-right"></i>
                                                            <a href="privacy-policy.html">Privacy policy</a>
                                                        </li>
                                                    </ul>
                                                </div>

                                                <div class="col-lg-3 col-md-6 footer-contact">
                                                    <h4>Contact Us</h4>
                                                    <p>
                                                        TC 11/1649, 2nd Floor,
                                                        <br>
                                                        Charachira Road, Pattom P.O,
                                                        <br>
                                                        Thiruvananthapuram, Kerala 695004<br>
                                                        <strong>Phone:</strong>
                                                        0471 485 1264<br>
                                                        <strong>Email:</strong>
                                                        totalcaresecurity@gmail.com<br>
                                                    </p>

                                                    <div class="social-links">
                                                        <a href="#" class="twitter">
                                                            <i class="bi bi-twitter"></i>
                                                        </a>
                                                        <a href="https://www.facebook.com/TeamTotalCare?mibextid=ZbWKwL" class="facebook">
                                                            <i class="bi bi-facebook"></i>
                                                        </a>
                                                        <a href="#" class="instagram">
                                                            <i class="bi bi-instagram"></i>
                                                        </a>
                                                        <a href="#" class="instagram">
                                                            <i class="bi bi-instagram"></i>
                                                        </a>
                                                        <a href="#" class="linkedin">
                                                            <i class="bi bi-linkedin"></i>
                                                        </a>
                                                    </div>

                                                </div>

                                                <!-- <div class="col-lg-3 col-md-6 footer-newsletter">
                                                            <h4>Our Newsletter</h4>
                                                            <p>
                                                              Subscribe to our newsletter and stay up-to-date on the latest news and events from <br> Total Care Security.
                                                              
                                                              <br> Receive exclusive content: We'll send you exclusive content that you won't find anywhere else, including behind-the-scenes looks at our company, special offers, and more.<br>
                                                              
                                                              Sign up today and start receiving our newsletter!</p>
                                                            <form action="" method="post">
                                                              <input type="email" name="email"><input type="submit" value="Subscribe">
                                                            </form>
                                                          </div> -->

                                            </div>
                                        </div>
                                    </div>

                                    <div class="container">
                                        <div class="copyright">
                                            &copy; Copyright
                                            <strong>Total Care Security</strong>. All Rights Reserved
                                        </div>
                                        <div
                                            class="credits">
                                            <!--
                                                    All the links in the footer should remain intact.
                                                    You can delete the links only if you purchased the pro version.
                                                    Licensing information: https://bootstrapmade.com/license/
                                                    Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=BizPage
                                                  -->
                                            Designed by
                                            <a href="https://reelsmarrow.com/">Reelsmarrow</a>
                                        </div>
                                    </div>
                                </footer>
                                <!-- End Footer -->

                                <div class="modal fade" id="addCategory" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLabel">Add New Category</h5>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal">
                                          </button>
                                        </div>
                                          <form method="POST" action={% url "add-category" %}>
                                        <div class="modal-body">

                                            {% csrf_token %}
                                            <div class="form-group">
                                              <label for="categoryName" class="col-form-label" style="color: #000">Category Name:</label>
                                              <input type="text" class="form-control" id="category_name" name="category_name" required>
                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary"  data-bs-dismiss="modal">Close</button>
                                          <button type="submit" class="btn btn-primary" id="submitAddCategory" data-bs-dismiss="modal">Submit</button>
                                        </div>
                                          </form>
                                      </div>
                                    </div>
                                  </div>

                            <div class="modal fade" id="addTag" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLabel">Add New Tag</h5>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal">
                                          </button>
                                        </div>
                                          <form method="POST" action={% url "add-tag" %}>
                                        <div class="modal-body">

                                            {% csrf_token %}
                                            <div class="form-group">
                                              <label for="categoryName" class="col-form-label" style="color: #000">Tag Name:</label>
                                              <input type="text" class="form-control" id="tag_name" name="tag_name" required>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary"  data-bs-dismiss="modal">Close</button>
                                          <button type="submit" class="btn btn-primary" id="submitAddTag" data-bs-dismiss="modal">Submit</button>
                                        </div></form>
                                      </div>
                                    </div>
                                  </div>


                                <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
                                    <i class="bi bi-arrow-up-short"></i>
                                </a>
                                <!-- Uncomment below i you want to use a preloader -->
                                <!-- <div id="preloader"></div> -->

                                <script>
                                    $(document).ready(function() {
                                        $('.btn-warning').click(function() {
                                          $('#addCategory').modal('show');
                                        });
                                      });
                                </script>
                                <script>
                                    $(document).ready(function() {
                                        $('.tags').click(function() {
                                          $('#addTag').modal('show');
                                        });
                                      });
                                </script>
            
                                <!-- Vendor JS Files --><script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"> </script>
                                <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
                                <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
                                <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
                                <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
                                <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
                                <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
                                <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

                                <!-- Template Main JS File -->
                                <script src="{% static 'assets/js/main.js' %}"></script>
                                <script src="{% static "assets/js/bootstrap-taginput.min.js" %}"></script>

                            </body>

                        </html>
