{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!--------style for blog-------------------------------->
    <style>

        /*h4 section color */
        h3 {
            color: #fff;
            font-weight: bold;
        }
        /*end h4 section color */
        h5 {
            color: #fff;
        }
        .card {


            border-radius: 23px;

        }
    </style>
    <!---------end style for blog---------------------------->
    <body>

        <!-- ======= Header ======= -->

        <main id="main">

            <!-- ======= Breadcrumbs ======= -->
            <!-- <section id="breadcrumbs" class="breadcrumbs">
                                                                  <div class="container">
                                                            
                                                                    <ol>
                                                                      <li><a href="index.html">Home</a></li>
                                                                    </ol>
                                                                    <h2>Blog</h2>
                                                            
                                                                  </div>
                                                                </section>End Breadcrumbs -->

            <!-- ======= Blog Section ======= -->


                <div class="main-wrapper "> <section class="page-title bg-1">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="block text-center">
                                    <span class="text-white">Our blog</span>
                                    <h1 class="text-capitalize mb-4 text-lg">Blog articles</h1>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a href="index.html" class="text-white">Home</a>
                                        </li>
                                        <li class="list-inline-item">
                                            <span class="text-white">/</span>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#" class="text-white-50">Our blog</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- End Blog Section -->
                <section class="section blog-wrap bg-dark">
                    <div class="container">
                        <div class="main-head">
                            <h3>{{ article.title }}
                            </h3>
                        </div>
                        <div class="date">
                            <img src="{% static 'assets/img/tcsLogo-1.png' %}" alt="" srcset="" height="25" width="25" class="responsive-img">

                            <h6 style="color: #337ab7;font-weight: 700;
                                                             display: inline-block; margin-right: 15px;">{{ article.creator.username|capfirst }}</h6>
{#                            <h6 style="display: inline-block; color: #fff;">Oct 18, 2023, 02:09 pm IST</h6>#}
                            <h6 style="display: inline-block; color: #fff;">{{ article.publish_date}} IST</h6>

                        </div>

                        <div class="container-sm">
                            <h6 style="color: #fff; max-width: 850px;">{{ article.short_description }}</h6>
                        </div>


                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-9" style="color: white">
                                <img src="{{ article.get_cover_image.url }}" class="card-img-top img-fluid" alt="...">
                                <br><br>
                                <p>
                                    {{ article.description|safe }}
                                </p>
                        </div>
                    </div>
                    <div class="tags"></div>
                                   <h5>Tags:</h5>
                                {% for tag in article.tags.all %}
                                    <h4><span class="badge badge-primary">{{ tag.name }}</span></h4>
                                {% endfor %}
                    </div>
                </section>
                </div>
        </main>
        <!-- End #main -->

        <!-- ======= Footer ======= -->
        {% endblock %}