   {% load static %}
        <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-5 col-md-6 footer-info">
            <h3>Total Care Security
            <p>Total Care Security Thiruvananthapuram is one of the leading businesses in the security services. At Total Care Security, we understand that your safety is our top priority. That's why we offer a wide range of security services to keep you and your property safe. Our team of experienced security professionals will work with you to create a custom security plan that meets your specific needs.</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="{% url 'home' %}">Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="{% url 'home' %}#about">About us</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="{% url 'home' %}#services">Services</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="{% url 'home' %}">Terms of service</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="{% url 'privacy_policy' %}">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              TC 11/1649, 2nd Floor, <br>
              Charachira Road, Pattom P.O, <br>
              Thiruvananthapuram, Kerala 695004<br>
              <strong>Phone:</strong> 0471 485 1264<br>
              <strong>Email:</strong> totalcaresecurity@gmail.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="https://www.facebook.com/TeamTotalCare?mibextid=ZbWKwL" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Total Care Security</strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://reelsmarrow.com/">Reelsmarrow</a>
      </div>
    </div>
