{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>Total Care Security</title>
        <meta content="" name="description">
        <meta
        content="" name="keywords">

        <!-- Favicons -->
        <link href="{% static 'assets/img/tcsLogo-1.png' %}" rel="icon">
        <link
        href="{% static 'assets/img/tcsLogo-1.png' %}" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!---------------------------->
    </head>
        <!-- End Header -->

        <main id="main">

         <div class="container" class="bg-dark">
            
                <div class="container py-5 h-100">
                  <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-lg-8 col-xl-6">
                      <div class="card border-top border-bottom border-3" style="border-color: #f37a27 !important;">
                        <div class="card-body p-5">
                          <p class="lead fw-bold mb-5" style="color: #f37a27;"></p>
                          <div class="mx-n5 px-5 py-4" style="background-color: #f2f2f2;">
                            <div class="row">
                              <div class="">
                                  <h5>From:</h5><p>{{ from }}</p>

                                <h5>Subject:</h5><p>{{subject}}</p>

                                    <h5>Message</h5><p>{{ message }}</p>
                              </div>
                            </div>
                          </div>
                          <p class="mt-4 pt-2 mb-0">Want any help? <a href="#!" style="color: #f37a27;">Please contact
                              us</a></p>
              
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
         </div>
            <br>
        </main>
        <!-- End #main -->
        <!-- ======= Footer ======= -->

    </body>
</html>