{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Total Care Srcurity</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->

  <link href="{% static 'assets/img/tcsLogo-1.png' %}" rel="icon">
  <link href="{% static 'assets/img/tcsLogo-1.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <style>
    /* Styling for the modal */
    #imageModal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.9);
    }

    #imageModal img {
        margin: auto;
        display: block;
        max-width: 80%;
        max-height: 80%;
    }

    /* Styling for the close button */
    .close {
        position: absolute;
        top: 15px;
        right: 15px;
        color: #fff;
        font-size: 30px;
        font-weight: bold;
        cursor: pointer;
    }
  </style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    {% include 'nav.html' %}
  </header>

  <!-- ======= hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <ol id="hero-carousel-indicators" class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active" style="background-image: url({% static 'assets/img/tcs b1.jpg' %})">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">PROTECTION IS OUR PROFESSION</h2>
                <p class="animate__animated animate__fadeInUp">Total Care Security is a leading security guard service company in India. We offer a wide range of security services, including: Residential security,Commercial security,Event security,Construction site security etc.</p>
                <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url({% static 'assets/img/tcsb2.jpg' %})">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">WE PROTECT YOUR HOME, YOUR BUSINESS, AND YOUR LOVED ONES</h2>
                <p class="animate__animated animate__fadeInUp">Our mission is to provide our clients with the peace of mind that comes with knowing that their property and loved ones are safe. We believe that everyone deserves to feel safe and secure, and we are committed to providing our clients with the highest level of security possible.</p>
                <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url({% static 'assets/img/tcsb3.jpg' %})">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">YOUR PARTNER IN PEACE OF MIND</h2>
                <p class="animate__animated animate__fadeInUp">We have a team of experienced and well-trained security guards who are committed to providing excellent customer service.</p>
                <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url({% static 'assets/img/tcsb4.jpg' %})">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">WE CARE</h2>
                <p class="animate__animated animate__fadeInUp">We'll take care of your facilities so you can focus on your business.</p>
                <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url({% static 'assets/img/tcsb5.jpg' %})">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">YOUR SAFETY IS OUR TOP PRIORITY</h2>
                <p class="animate__animated animate__fadeInUp">We're not just keeping you safe. We're keeping you secure.</p>
                <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= Featured Services Section Section ======= -->
    <section id="featured-services">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 box">
            <i class="bi bi-shield-check"></i>
            <h4 class="title"><a href="">Safe & Secure</a></h4>
            <p class="description">We understand that your safety is our top priority. That's why we offer a wide range of security services to keep you and your property safe. Our team of experts will work with you to create a custom security plan that meets your specific needs.</p>
          </div>

          <div class="col-lg-4 box box-bg">
            <i class="bi bi-shield-check"></i>
            <h4 class="title"><a href="">Guarding Your Future</a></h4>
            <p class="description">We are your peace of mind. We take care of the security so you can focus on your future. With our team of experts on your side, you can rest assured that your assets and interests are safe.</p>
          </div>

          <div class="col-lg-4 box">
            <i class="bi bi-shield-check"></i>
            <h4 class="title"><a href="">Total Tranquility</a></h4>
            <p class="description">We understand that you want to feel safe and secure. That's why we offer a wide range of security services to meet your specific needs. Our team of experts will work with you to create a custom security plan that will give you total tranquility.</p>
          </div>

        </div>
      </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">
        <header class="section-header">
          <h3>About Us</h3>
          <p>Total Care Security Thiruvananthapuram is one of the leading businesses in the security services. At Total Care Security, we understand that your safety is our top priority. That's why we offer a wide range of security services to keep you and your property safe. Our team of experienced security professionals will work with you to create a custom security plan that meets your specific needs.</p>
        </header>

        <div class="row about-cols">

          <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
            <div class="about-col h-100"> <!-- Added h-100 class -->
              <div class="img">
                <img src="{% static 'assets/img/1.png' %}" alt="" class="img-fluid">
                <div class="icon"><i class="bi bi-bar-chart"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Mission</a></h2>
              <p>
                Our mission is to provide our clients with the highest level of security and peace of mind. We understand that your safety is important, and we will work tirelessly to protect you and your property.
              </p>
            </div>
          </div>

          <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
            <div class="about-col h-100"> <!-- Added h-100 class -->
              <div class="img">
                <img src="{% static 'assets/img/2.png' %}" alt="" class="img-fluid">
                <div class="icon"><i class="bi bi-brightness-high"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Plan</a></h2>
              <p>
                We will meet with you to discuss your property, your business, and your personal security concerns. We will also assess your current security measures and identify any areas where you may be vulnerable. Based on our assessment, we will develop a custom security plan that is tailored to your specific needs. This plan will include a variety of security measures.
              </p>
            </div>
          </div>

          <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
            <div class="about-col h-100"> <!-- Added h-100 class -->
              <div class="img">
                <img src="{% static 'assets/img/3.png' %}" alt="" class="img-fluid">
                <div class="icon"><i class="bi bi-calendar4-week"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Vision</a></h2>
              <p>
                We envision a world where everyone feels safe and secure. We believe that everyone has the right to feel safe in their homes, businesses, and communities. Our vision is to be the leading provider of security services in India.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- End About Us Section -->

    <!-- ======= Services Section ======= -->
    <section id="services">
      <div class="container" data-aos="fade-up">

        <header class="section-header wow fadeInUp">
          <h3>Services</h3>
          <p>We are committed to providing our clients with the highest level of security and peace of mind. We understand that your safety is important, and we will work tirelessly to protect you and your property.At Total Care Security, we offer a wide range of security services to meet the needs of our clients. Our services include:</p>
        </header>

        <div class="row services-row">

          <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-shield-check"></i></div>
            <h4 class="title"><a href="">Security Gaurd</a></h4>
            <p class="description">Our uniformed security guards are highly trained and experienced in providing a variety of security services, including patrolling, access control, and crowd control.</p>
          </div>
          <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bi bi-shield-check"></i></div>
            <h4 class="title"><a href="">Private Detectives</a></h4>
            <p class="description">Get an exclusive team of private detectives at your service. Whatever you want to investigate, you can rely on our expertise. And be assured; the association you have with us will be kept completely confidential</p>
          </div>
          <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bi bi-shield-check"></i></div>
            <h4 class="title"><a href="">Manpower Management</a></h4>
            <p class="description">Our experience and expertise in the field has endowed us with the necessary competence to help you in effective manpower management</p>
          </div>
          <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bi bi-shield-check"></i></div>
            <h4 class="title"><a href="">Lady Guard</a></h4>
            <p class="description">Our unique poisoning in the market and our team enable us to provide lady guards to all our clients as required on time.</p>
          </div>

          <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="bi bi-shield-check"></i></div>
            <h4 class="title"><a href="">Domestic Security</a></h4>
            <p class="description">You can instantly rely on our domestic security solutions to take care of all your needs when it comes to domestic security.</p>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action">
      <div class="container text-center" data-aos="zoom-in">
        <h3>Get A Quote</h3>
        <p> Contact us today to learn more about our security services and how we can help you keep your property safe.</p>
        <a class="cta-btn" href="#">Connect Now</a>
      </div>


    <!-- ======= Facts Section ======= -->
    <section id="facts">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3>Facts</h3>
          <p>"We're the eyes and ears of your security."</p>
        </header>

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
            <p>Clients</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="421" data-purecounter-duration="1" class="purecounter"></span>
            <p>Projects</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="1364" data-purecounter-duration="1" class="purecounter"></span>
            <p>Hours Of Support</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="38" data-purecounter-duration="1" class="purecounter"></span>
            <p>Hard Workers</p>
          </div>

        </div>

        <div class="facts-img">
          <img src="{% static 'assets/img/factstcs.jpg' %}" alt="" class="img-fluid">
        </div>

      </div>
    </section><!-- End Facts Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="section-bg">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3 class="section-title">Our Gallery</h3>
        </header>

        <div class="row" data-aos="fade-up" data-aos-delay="100"">
            <div class=" col-lg-12">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-app">Training</li>
                <li data-filter=".filter-card">Other
              </ul>
            </div>
        </div>

      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <figure>
              <img src="{% static 'assets/img/tcswhatwd.jpg' %}" class="img-fluid" alt="" id="image" onclick="showImage()">
              <a href="{% static 'assets/img/terumo.png' %}" class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="Web 3"><i class="bi bi-plus"></i></a>
              <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
            </figure>

            <div class="portfolio-info">
              <h4><a href="">Technopark</a></h4>
              <p>Shri. Baiju TR, the Managing Director, addressing Total Care Team - Technopark.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <figure>
              <img src="{% static 'assets/img/terumo.png' %}" class="img-fluid" alt="">
              <a href="{% static 'assets/img/terumo.png' %}" class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="Web 3"><i class="bi bi-plus"></i></a>
              <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
            </figure>

            <div class="portfolio-info">
              <h4><a href="">Terumo</a></h4>
              <p>Mounting and Briefing is a part of daily drill to ensure the service we provide to your premises is top notch.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <figure>
              <img src="{% static 'assets/img/Income Tax Department.png' %}" class="img-fluid" alt="">
              <a href="{% static 'assets/img/Income Tax Department.png' %}" class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="App 2"><i class="bi bi-plus"></i></a>
              <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
            </figure>

            <div class="portfolio-info">
              <h4><a href=""></a>Income Tax Department</h4>
              <p>Total Care have always raised the bar for industry standards by rigorous and regular excercise to improve the service quality</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <figure>
              <img src="{% static 'assets/img/House Keeping.png' %}" class="img-fluid" alt="">
              <a href="{% static 'assets/img/House Keeping.png' %}" class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="Card 2"><i class="bi bi-plus"></i></a>
              <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
            </figure>

            <div class="portfolio-info">
              <h4><a href="">House Keeping</a></h4>
              <p>Our Housekeeping Staffs at Sree Chitra Thirunal Institute of Medical Science and Technology</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <figure>
              <img src="{% static 'assets/img/tcs Training.png' %}" class="img-fluid" alt="">
              <a href="{% static 'assets/img/tcs Training.png' %}" class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="Web 2"><i class="bi bi-plus"></i></a>
              <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
            </figure>

            <div class="portfolio-info">
              <h4><a href=""></a>Training</h4>
              <p></p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <figure>
              <img src="{% static 'assets/img/tcstrainig2.png' %}" class="img-fluid" alt="">
              <a href="{% static 'assets/img/tcstrainig2.png' %}" class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="App 3"><i class="bi bi-plus"></i></a>
              <a href="" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
            </figure>

            <div class="portfolio-info">
              <h4><a href="">Training</a></h4>
              <p>Security Training conducted by Manoj Reghunathan, with over 35+ years of experience in Security Training.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <figure>
              <img src="{% static 'assets/img/tcsclients.jpg' %}" class="img-fluid" alt="">
              <a href="{% static 'assets/img/tcsclients.jpg' %}" class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="Card 1"><i class="bi bi-plus"></i></a>
              <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
            </figure>

            <div class="portfolio-info">
              <h4><a href="">Clients</a></h4>
              <p></p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <figure>
              <img src="{% static 'assets/img/tcsRepublicDay.png' %}" class="img-fluid" alt="">
              <a href="{% static 'assets/img/tcsRepublicDay.png' %}" class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="Card 3"><i class="bi bi-plus"></i></a>
              <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
            </figure>

            <div class="portfolio-info">
              <h4><a href="">Republic Day</a></h4>
              <p></p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <figure>
              <img src="{% static 'assets/img/tcstraining3.png' %}" class="img-fluid" alt="">
              <a href="{% static 'assets/img/tcstraining3.png' %}" class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="Web 1"><i class="bi bi-plus"></i></a>
              <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
            </figure>

            <div class="portfolio-info">
              <h4><a href="">Training</a></h4>
              <p></p>
            </div>
          </div>
        </div>

      </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Our Clients Section ======= -->
    <section id="clients">
      <div class="container" data-aos="zoom-in">

        <header class="section-header">
          <h3>Our Clients</h3>
        </header>

        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="{% static 'assets/img/client technopark.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/client adani.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/client income tax.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/client terumo.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/client sut.webp' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/client sai.jpeg' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/client cp.jpeg' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/client ignou.png' %}" class="img-fluid" alt=""></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Our Clients Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="section-bg">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3>Testimonials</h3>
        </header>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'assets/img/sibitcs.png' %}" class="testimonial-img" alt="">
                <h3>Sibi s panicker Kazchakaran</h3>

                <p>
                  <img src="{% static 'assets/img/quote-sign-left.png' %}" class="quote-sign-left" alt="">
                  Best security services in India
                  <img src="{% static 'assets/img/quote-sign-right.png' %}" class="quote-sign-right" alt="">
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'assets/img/tcsreview1.png' %}" class="testimonial-img" alt="">
                <h3>Renjith Sivapuri</h3>
                <h4></h4>
                <p>
                  <img src="{% static 'assets/img/quote-sign-left.png' %}" class="quote-sign-left" alt="">
                  Single point contact for top class Facilities management service in Trivandrum. Professional service with top notch quality.
Best in the business.
                  <img src="{% static 'assets/img/quote-sign-right.png' %}" class="quote-sign-right" alt="">
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'assets/img/tcsreview2.png' %}" class="testimonial-img" alt="">
                <h3>Dani Paul</h3>
                <h4></h4>
                <p>
                  <img src="{% static 'assets/img/quote-sign-left.png' %}" class="quote-sign-left" alt="">
                  True to its name ''Total Care Security". Managed by a team of professionals having served in the Armed Forces and Police Department. They have imbibed in Total Care Security what they acquired from the Services.
                  <img src="{% static 'assets/img/quote-sign-right.png' %}" class="quote-sign-right" alt="">
                </p>
              </div>
            </div><!-- End testimonial item -->





          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Team Section ======= -->
    <section id="team">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h3>Team</h3>
          <p>Our team is made up of experienced and dedicated professionals who are committed to providing our clients with the best possible security services. We have a wide range of expertise, and we are always looking for new ways to improve our services.</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <img src="{% static 'assets/img/Baiju T R Photo (website).jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Baiju TR</h4>
                  <span>Managing Director</span>

                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <img src="{% static 'assets/img/v s madhusoodhanan.jpg' %}" style="width: 361px; height: 200.28px;" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>V s Madhusoodhanan</h4>
                  <span>Product Manager</span>

                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <img src="{% static 'assets/img/tcsteam.png' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Baiju TR</h4>
                  <span>CTO</span>

                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <img src="{% static 'assets/img/tcsteam.png' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Baiju TR</h4>
                  <span>Accountant</span>

                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h3>Contact Us</h3>
          <p>Connect us today</p>
        </div>
        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="bi bi-geo-alt"></i>
              <h3>Address</h3>
              <address>TC 11/1649, 2nd Floor, Charachira Road, Pattom P.O, Thiruvananthapuram, Kerala 695004</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="bi bi-phone"></i>
              <h3>Phone Number</h3>
              <p><a href="tel:0471 485 1264">0471 485 1264</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="bi bi-envelope"></i>
              <h3>Email</h3>
              <p><a href="mailto:totalcaretvm@gmail.com">totalcaretvm@gmail.com</a></p>
            </div>
          </div>

        </div>

        <div class="form">
          <form action="" method="post" role="form" class="email-form", id="contact-form">
              {% csrf_token %}
            <div class="row">
              <div class="form-group col-md-6">
                  {{ form.name }}
              </div>
              <div class="form-group col-md-6">
                  {{ form.email }}
              </div>
            </div>
            <div class="form-group">
                {{ form.subject }}
            </div>
            <div class="form-group">
                {{ form.message }}
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
              <div class="sending">We Will Send the Message Shortly...</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main>

  <!-- ======= Footer ======= -->

  <footer id="footer">
      {% include 'footer.html' %}
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->

  <script src="{% static 'assets/js/main.js' %}"></script>
  <script>
        $(document).ready(function () {
            $('#contact-form').submit(function (event) {
                event.preventDefault();
                var form = $(this);
                var formData = form.serialize();
                $.ajax({
                    url: "{% url 'contact_form' %}",
                    type: "POST",
                    data: formData,
                    success: function (response) {
                        $('.sent-message').fadeIn().delay(5000).fadeOut(); // Show success message
                        form.trigger("reset"); // Clear form fields
                    },
                    error: function (xhr, status, error) {
                        $('.error-message').text("An error occurred. Please try again later.").fadeIn().delay(3000).fadeOut();
                        console.error(error);
                    },
                    beforeSend: function () {
                        $('.sending').fadeIn().delay(1000).fadeOut(); // Show loading message
                    }
                });
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>

        <!-- End #main -->
