{% load static %}
<div class="container-fluid">

      <div class="row justify-content-center align-items-center">
        <div class="col-xl-11 d-flex align-items-center justify-content-between">
          <a href="index.html" class="logo"><img src="{% static 'assets/img/tcsLogo-1.png' %}" alt="" class="img-fluid"></a>

          <nav id="navbar" class="navbar">
            <ul>
              <li><a class="nav-link scrollto active" href="{% url 'home' %}">Home</a></li>
              <li><a class="nav-link scrollto" href="{% url 'home' %}#about">About</a></li>
              <li><a class="nav-link scrollto" href="{% url 'home' %}#services">Services</a></li>
              <li><a class="nav-link scrollto" id="portfolioButton" href="#">Portfolio</a></li>
              <li><a class="nav-link scrollto" href="{% url 'home' %}#team">Team</a></li>
              <li><a class="nav-link" href="{% url 'blog' %}">Blog</a></li>
                {% if perms.general.can_add_article %}
                    <li><a class="nav-link" href="{% url 'add-article' %}">AddBlog</a></li>
                {% endif %}
              <li><a class="nav-link scrollto" href="{% url 'home' %}#contact">Contact</a></li>
              {% if user.is_authenticated %}
                    <li><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
              {% endif %}
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav><!-- .navbar -->
        </div>
      </div>

    </div>
    <script>
      function openPDF(){
        var pdfPath = '{% static "portfolio.pdf" %}';
        window.open(pdfPath, '_blank')
      }

      document.getElementById('portfolioButton').addEventListener('click', function (event) {
        event.preventDefault();
        openPDF(); 
      });

    </script>