{% extends "base.html" %}
{% load static %}
{% block content %}
  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Portfolio Details</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li><a href="portfolio.html">Portfolio</a></li>
            <li>Portfolio Details</li>
          </ol>
        </div>

      </div>
    </section><!-- Breadcrumbs Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="assets/img/tcsactivities.jpg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="assets/img/tcsdrill.jpg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="assets/img/tcshouse keeping.jpg" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Category</strong>: Manned Gaurding</li>
                <li><strong>Client</strong>: Terumo</li>
                
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Total Care Security has been providing security services to Terumo.</h2>
              <p>
                Our uniformed security guards patrol the Terumo campus 24/7. They are responsible for deterring crime, responding to incidents, and providing a sense of security to employees and visitors.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->
{% endblock %}