{% extends "base.html" %}
{% load static %}
{% block content %}

  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">Home</a></li>
          <li><a href="privacy-policy.html">Privacy policy</a></li>
        </ol>
        <h2>Privacy policy</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">

            <article class="entry entry-single">

              <!-- <div class="entry-img">
                <img src="assets/img/tcsdrill3.jpg" alt="" class="img-fluid">
              </div> -->

              <h2 class="entry-title">
                <a href="blog-single.html">Privacy Policy</a>
              </h2>

              <div class="entry-meta">
                <!-- <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">Baiju Thulasidharan</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">Jan 1, 2020</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-single.html">1 Comment</a></li>
                </ul> -->
              </div>

              <div class="entry-content">
                <p>
                    This Privacy Policy is meant to help you understand what information we collect, why we collect it, and how we update and manage it.
                </p>

                <p>
                    Total Care Security is committed to keeping any, and all personal information collected from the individuals that visit our website and make use of our online facilities and services accurate, confidential, secure, and private. Our privacy policy has been designed and created to ensure those affiliated with our commitment and realization of our obligation of meeting the existing privacy standards. Our Privacy Policy is designed to help you understand how we collect, use, and safeguard the information you provide to us and to assist you in making informed decisions when using our Service.
                </p>

                <!-- <blockquote>
                  <p>
                    "We understand that your future is important to you. That's why we offer a wide range of security services to keep your assets and interests safe. Our team of experts will work with you to create a custom security plan that meets your specific needs."
                  </p>
                </blockquote> -->

                <h3>Information We Collect</h3>
                <p>
                    Known as “personal information” or “personally identifiable information,” regulated data typically includes anything that can be used to identify an individual, and is not limited to a user’s name. We collect “Non-Personal Information” and “Personal Information.”
                    Non-Personal Information includes information that cannot be used to personally identify you, such as anonymous usage data, the general demographic information we may collect, referring/exit pages and URLs, platform types, preferences you submit and preferences that are generated based on the data you submit and the number of clicks.
                </p>

                <h3>
                    Children’s Privacy</h3>
                <p>
                    We are in compliance with the requirements of COPPA (Children's Online Privacy Protection Act), we do not collect any information from anyone under 13 years of age. Our website, products, and services are all directed to people who are at least 13 years old or older. This online privacy policy applies only to information collected through our website and not to information collected offline.
                </p>
              </div>

            </article><!-- End blog entry -->
        </div>

      </div>
    </section><!-- End Blog Single Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% endblock %}